.principalPage {
    display: none;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
/*Menu*/
.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75px;
    height: 100vh;
    background-color: #3A54AA;
}

.optionsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}

.optionsInfo div {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    width: 100%;
    height: 70%;
    justify-content: space-evenly;
}

.buttonsContainer button {
    width: 100%;
    border: none;
    background-color: transparent;
}

.imgLogoContainer {
    text-align: center;
    width: 100%;
    height: 70px;
}

.userOptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.userOptionContainer button {
    width: 100%;
    border: none;
    background-color: transparent;
}

/*info Users*/

.infoUsersContainer {
    width: 50%;
    height: 100vh;
    padding: 20px 40px;
}

/*User list*/

.listUsersContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px;
    width: 50%;
    height: 100vh;
}
.usersTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12em;
}

.usersTitle i {
    color: #3A54AA;
}
.usersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.usersContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 100px;
    font-size: 12px;
}

.usersContainer div img {
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.usersContainer div p {
    font-size: 12px;
    color: #666;
}

.startsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    width: 100%;
}